/*
font-family: "Merriweather, serif";
*/

html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header h1 {
  font-size: 1.8rem;
  font-weight: normal;
  font-style: italic;
}

/*
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
}

header h1 {
  font-size: 1.8rem;
  font-weight: normal;
  font-style: italic;
  grid-column: 1 / 4;
}

header img {
  grid-column: 1 / 4;
}

header h2 {
  grid-column: 1 / 4;
  color: #fff;
}

header p {
  color: #fff;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

main h2 {
  font-family: Merriweather, serif;
  font-style: italic;
}
*/

.top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 4em;
}

.top img {
  width:100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.top h2 {
  grid-column: 1 / -1;
  grid-row: 2;
  color: #fff;
}

.top p {
  grid-column: 1 / -1;
  grid-row: 2;
  color: #fff;
}
