/*
font-family: "Merriweather, serif";
*/

html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  grid-template-areas:
    "header"
    "main";
}

h1 {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: normal;
  padding-top: 1.125rem;
  padding-left: 1rem;
  padding-bottom: 1.1rem;
  margin: 0;
  line-height: 1.5;
}

.banner {
  margin: .75rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: 4fr 2rem;
  grid-template-rows: 1fr 2.515rem 2.515rem;
  align-self: auto;
}

.banner img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
}

.banner figcaption {
  padding: 0 1rem;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
  grid-column: 1 / -2;
  grid-row: 2 / -2;
  z-index: 1;
}

.banner p {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  grid-column: 1;
  grid-row: 3;
  z-index: 1;
  color: #fff;
}

.images-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .75rem;
  grid-area: main;
}

.images-info img {
  width: 100%;
}

.images-info h2 {
  font-style: italic;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.images-info dl {
  padding: 0;
  margin: 0 0 1.5rem;
}

.images-info dt {
  font-style: italic;
}
